<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/product/update-product/<%= product.id %>">
        <label>
            name:
            <input value="<%= product.name %>"  type="text" name="name"/>
        </label><br/>
        <label>
            price:
            <input value="<%= product.price %>"  type="number" name="price"/>
        </label><br/>
        <label>
            type:
            <input value="<%= product.type %>"  type="text" name="type"/>
        </label><br/>
        <label>
            description:
            <input value="<%= product.description %>"  type="text" name="description"/>
        </label><br/>
        <button type="submit">Update Product</button>

    </form>
</body>
</html>